*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

/* USER BANNER */
.userbanner{
    background-color: black;
    height:35px;
    width:100%;
    color: white;
    font-size: 15px;
    display: flex;
}

#tiny-logo{
    width:30px;
}

.userbanner ul{
    text-align: right;
    margin:0px;
    right:0px;
    width:100%;
    padding-left: 0px;;
}

.userbanner ul li{
    display: inline-block;
    line-height:35px;
    margin 10px 5px;
}

.userbanner ul li a{
    color: white;
    border-radius: 3px;
    text-decoration:none;
    padding: 5px 15px;
}
.userbanner ul li a:hover{
    background: #c08af2;
    color:#5b4173;
}

/* LOGO BANNER */
.img-banner{
    background-image: url("img/umm-background.png");
    width:100%;
    height:100px;
    vertical-align: middle;
}

.logo{
    color:white;
    font-size: 50px;;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
    height:100%;
    font-weight: bold;
    padding-top: 10px;
}

/* SIDE MENU */
.sidemenu{
    height: 80%;
}

.sidemenu ul{
    margin-right: 20px;
    text-align: Left;
    padding-top: 15px;
    padding-bottom: 15px;;
}
.sidemenu ul li{
    line-height:15px;
    margin 10px 5px;
    margin-top: 10px;
}

.sidemenu ul li a{
    color: black;
    text-decoration:none;
    font-weight: bold;
}
.sidemenu ul li a:hover{
    color:#5b4173;
    font-style: italic;
}

.sidemenu ul li .active{
    color:#5b4173;
    font-weight: bolder;
    text-decoration: underline ;
}


/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 0px;
}

/* Left and right column */
.column.side {
  width: 15%;
}

/* Middle column */
.column.visual {
  width: 85%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



form{
  max-width: 400px;
  margin: 10px;
  padding 10px 20px;
  background: white;
  border-radius: 8px;

}

h2{
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
select{

  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding : 15px;
  width : 100%;
  background-color: #f4f7f8;
  box-shadow: 0 1px 0 rgb(0,0,0,0,3) inset;
  margin-bottom: 30px;

}
input:focus {
  box-shadow: 0 0 5px rgba(81,203,238,1);
  border:1px solid rgba(81,203,238,1);
}

select{
  padding: 15px;
  border-radius: 2px;
}

fieldset{
  padding: 100px;
  margin-bottom: 30px;
  border: none;

}
.user_information{
  padding:15px;



}
legend{
  display: block;
  margin-bottom: 8px;
}

.section{
  background-color: black;
  color: white;
  height:30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0,2);
  border-radius: 100%;
}

label{
  padding: 7px;
}

.pointcard{
  width:60%;
  height:auto;
  border-radius: 20px 20px 20px 20px;
  margin-top:15px;
  margin-bottom:15px;
}

.submit, .reset{
  background: black;
  color:white;
  border-radius: 15px;
  padding:5px;
  margin: 4px 0px 0px 0px;
  margin: 5px auto;
  width: fit-content;
}

.button{
  margin: 0 auto;
  margin-left: 100px;
}

/* FOOTER */
.footer{
    background-color: #5b4173;
    height:215px;
    font-size: 20px;
    position: relative;
    width: 100%;
}

.footer ul{
    margin-right: 20px;
    text-align: Left;
    padding-top: 15px;
    padding-bottom: 15px;;
}
.footer ul li{
    line-height:20px;
    margin 10px 5px;
    margin-top: 15px;;
}

.footer ul li a{
    color: white;
    border-radius: 3px;
    text-decoration:none;
    padding: 0px 15px;
}
.footer ul li a:hover{
    background: #c08af2;
    color:#5b4173;
}


/* media quries */
@media (max-width: 600px) {
  .column.side, .column.visual {
    width: 100%;
  }

  div.column.side{
    height:300px;
    margin: 0;
    position: static;
  }
  .sidemenu ul{
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    padding: 0
  }
  .sidemenu ul li{
      line-height:20px;
  }

  .pointcard{
    width:70%;
  }

  .form{
    margin: 10px auto;
  }

  .button{
    margin: 0;
  }
}

@media (min-width:601px) and (max-width:1100px){

  .column.side {
    width: 30%;
  }

  
  .column.visual {
    width: 70%;
  }

}
